/* Universal Styles*/ /*  html background colour, font family and size for example */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    flex-flow: column wrap; 
}

h2 {
    color:rgb(56, 56, 56);
}

h3 {
    color: rgb(56, 56, 56);
}

.subheading {
    font-size: 36px;
}


/* Header */ /* contains nav and h1 often, also background images etc) */

/* Nav */

nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}

nav .logo {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 16px;
}

h1 .colmar {
    font-weight: bold;
    color: rgb(56, 56, 56);
}

h1 .academy {
    font-weight: lighter;
    color: silver;
}

nav ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    justify-content: space-between;
    padding: 0 0 0 1em;
}

nav a {
    text-decoration: none;
    color: rgb(56, 56, 56);
}


/* Main & Sections */
body {
    background-color: lightgray;
}

/* Banner */

#banner {
    display: flex;
    align-items: center;
    margin-top: 64px;
    padding: 32px 24px;
    border-bottom: solid white 1px;
}

#banner img {
    width: 60%;
}

.banner-text {
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    margin-right: 128px;
    padding: 24px;
}

.banner-text h2 {
    font-size: 40px;
}

.banner-text p {
    font-size: 24px;
}

.banner-text h2,
.banner-text p {
    color: rgb(56, 56, 56);
    padding-bottom: 24px;
}

.button {
    background-color: rgb(56, 56, 56);
}

.button h3 {
    padding: 8px;
    color: white;
    text-align: center;
    font-weight: normal;
}

.button a {
    text-decoration: none;
}

/* Practicing */

#practicing {
    display: flex;
    background-color: white;

}

.left-column {
    display: inline-flex;
    flex-flow: column wrap;
    width: 60%;
    padding: 32px 24px;
    color:rgb(56, 56, 56);
}

.left-column img {
    width: 100%;
}

.left-column h2 {
    padding-top: 32px;
    padding-bottom: 24px;
}

.left-column p {
    padding: 0 16px 32px 0;
    font-size: 16px;
    color: gray;
}

.right-column {
    width: 40%;
    padding: 16px 0px;
}

#practicing .right-column {
    border-left: silver 1px solid;
}

.right-column p {
    display: inline-flex;
}

.information-segment {
    display: flex;
    padding: 16px;
}

#practicing .information-segment {
    border-top: silver 1px solid;
    border-bottom: silver 1px solid;
}

div.information-segment:hover {
    background-color:silver;
}

.info-segment-image {
    width: 35%;
    height: auto;
}

.info-segment-text {
    color:rgb(56, 56, 56);
    padding: 16px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 65%;
}

.info-segment-text p {
    padding-top: 8px;
}

.info-segment-text a {
    text-decoration: none;
    color: darkcyan;
}

/* Learning */

#learning {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 32px 40px;
}

.selection-grid {
    display: inline-flex;
    flex-flow: row wrap;
}

.grid-item {
    margin: 32px;
    width: 28%;
    background-color: white;
    padding-bottom: 16px;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.grid-item h3 {
    padding: 16px;
}

.grid-item p {
    padding: 0 16px 8px 16px;
    color: gray;
}

/* Thesis */

#thesis {
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 32px 0px 0 24px;
}

#thesis .left-column {
    padding-left: 0;
}
#thesis .left-column h3 {
    padding: 24px 0 8px 0;
}

#thesis p {
    color: gray;
    padding-bottom: 0;
}

.content-container {
    display: inline-flex;
}

.left-column video {
    width: 100%;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: white;
    border-top: silver solid 1px;
}

footer small {
    color: gray;
}

footer ul {
    display: flex;
    align-items: center;
}

footer li {
    list-style: none;
    padding: 8px;
}