/* Universal Styles*/ /*  html background colour, font family and size for example */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}


/* Header */ /* contains nav and h1 often, also background images etc) */

/* Nav */

nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
    background-color: #fff;
}

nav .logo {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 16px;
}

h1 .colmar {
    font-weight: bold;
    color: rgb(56, 56, 56);
}

h1 .academy {
    font-weight: lighter;
    color: silver;
}

nav ul {
    color: rgb(56, 56, 56);
    display: inline-flex;
    align-items: center;
}
nav li {
    list-style: none;
    justify-content: space-between;
    padding: 0 0 0 1em;
}


/* Main & Sections */
main {
    background-color: lightgray;
}

.banner {
    display: inline-flex;
    padding: 32px 24px;
    align-items: center;
}

.banner img {
    width: 60%;
}

.banner-text {
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    margin-right: 128px;
    padding: 24px;
}

.banner-text h2 {
    font-size: 40px;
}

.banner-text p {
    font-size: 24px;
}

.banner-text h2,
p {
    color: rgb(56, 56, 56);
    padding-bottom: 24px;
}

.button {
    background-color: rgb(56, 56, 56);
}

.button h3 {
    padding: 8px;
    color: white;
    text-align: center;
    font-weight: normal;
}

/* Footer */